<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="http://icons-for-free.com/free-icons/png/512/379338.png" />
    <title> |BKK eat|</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}" />
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">|BKK eat|</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href=" /qt">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report ">เขต</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report2 ">ประเภท</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/loginn" >Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register" >Register</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>