{% extends 'book/base.html' %}

{% block content %}
	<section class="product-filter-section">
  <div class="container">
			<div class="row">
    {% for i in booked %}
        
			<div class="col-lg-4 col-sm-10">
					<div class="product-item">
          
						<div class="pi-pic">
							<div class="tag-sale">ON SALE</div>
							<img src="{{i.photo1}}" alt="">
							<div class="pi-links">
								<a href="{{ i.link }}" class="add-card"><i class="fa fa-angle-double-right"></i><span>READ MORE</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
            <u>{{ i.name }}</u><br>
						<i>{{ i.type2 }}</i>
              <p>ราคาเดิม :<s>
              {{ i.price }}</s> บาท</p>
							<h6>เหลือ :
              {{ i.saleP }}บาท</h6> <br>
						</div>
           
					</div>
          
				</div>{% endfor %}
        </div>
        </div>
        
        </div>
</div>
</section>
  			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">READ MORE</button>
			</div>

{% endblock %}
