<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="http://icons-for-free.com/free-icons/png/512/379338.png" />
    <title>Book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book/css/bootstrap.min.css' %}" />
  </head>
  <body>

  <script>
    function myFunction() {
      alert("ยังไม่เสร็จ");
    }
  </script>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- Data in DjangoDataBase -->
    {% block content %}
    <center>
      <div class="container ">
        <div class="row">
        {% for i in booked %}
        
          <div class="col-md-6">
              <br/><br/>
              
              <h3>{{ i.id }}. {{ i.name }}</h3>
              <p>ราคาเดิม :<s>
              {{ i.price }}</s> บาท<br>
              ลดราคาเหลือ :
              {{ i.saleP }}บาท
              </p>
          </div>
          <div class="col-md-6">
            <img src = {{ i.photo1 }} >
            
          </div>
        {% endfor %}
        </div>
      </div> 
      </center>
    {% endblock %}
  </body>
</html>