{% extends 'book/base.html' %}

{% block content %}
<div class="row" ></div>
<div class="row">
  <div class="col-md-10 container-fluid">
    <div class="row">
      <table class="table table-warning">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">ราคา</th>
            <th scope="col">ราคาที่ลดแล้ว</th>
            <th scope="col">จำนวนหนังสือของนักเขียน</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">สูงสุด</th>
            {% for m in dfmax %}
            <td>{{ m }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">เฉลี่ย</th>
            {% for m in dfmean %}
            <td>{{ m }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">ต่ำสุด</th>
            {% for m in dfmin %}
            <td>{{ m }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row">ค่าเบี่ยงเบนมาตรฐาน</th>
            {% for m in dfstd %}
            <td>{{ m }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

