{% extends 'book/base.html' %}

{% block content %}
<div class="row" ></div>
<div class="row">
  <div class="col-md-10 container-fluid">
    <div class="row">
      <table class="table table-striped">
        <thead class="thead-warning">
          <tr>
            <th scope="col">หมวด</th>
            <th scope="col">เฉลี่ยราคา</th>
            <th scope="col">เฉลี่ยราคาที่ลดแล้ว</th>
            <th scope="col">เฉลี่ยจำนวนเล่มนักเขียน</th>
            <th scope="col">เฉลี่ยราคาของนักเขียน</th>
            
          </tr>
        </thead>
        <tbody>
          {% for p in report %}
          <tr>
            {% for c in p %}
            <td>{{ c }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}