{% extends 'book/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-10 container-fluid">
    <div class="row">
      <table class="table table-striped">
        <thead class="table-warning">
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">Data Science Questions</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <th scope="row">1</th>
            <td>ถ้ามีผู้เขียนเขียนหนังสือ x เล่ม จะต้องขายในราคาเท่าไรจึงจะขายดี? </td>
            <td>How much? (Regression)</td>
          </tr>
                    <tr>
          <th scope="row">2</th>
            <td>หนังสือ Y เล่ม จะขายราคา Z บาท จะพิมพ์พำนักพิมพ์ไหนหรือตั้งราคาเท่าไรจึงจะขายดี?</td>
            <td>A or B or C ..? (Classification)</td>
          </tr>
		            <tr>
          <th scope="row">3</th>
            <td>ถ้ามีหนังสือในหมวด x จะขายราคา ควรจะตั้งในราคาเท่าใด?</td>
            <td>How much? (Regression)</td>
          </tr>
		            <tr>
          <th scope="row">4</th>
            <td></td>
            <td>How much? (Regression)</td>
          </tr>
		            <tr>
          <th scope="row">5</th>
            <td>...</td>
            <td>How much? (Regression)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
				