<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>web boook</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">
      <h2>Boouk</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
   
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Book</span>
      </div>
      <input type="text" class="form-control" placeholder="pleaseEnter">
    </div> 
      </form>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
</body>

</html>