<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="http://icons-for-free.com/free-icons/png/512/379338.png" />
    <title>Book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book/css/bootstrap.min.css' %}" />
  </head>
  <body>

  <script>
    function myFunction() {
      alert("ยังไม่เสร็จ");
    }
  </script>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href=" " class="nav-brand"><img src="book/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/albums">Albums</a></li>

                                    <li><a href="/event">Events</a></li>
                                    <li><a href="/blog">News</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href=" ">Home</a></li>
                                            <li><a href="/albums">Albums</a></li>
                                            <li><a href="/event">Events</a></li>
                                            <li><a href="/blog">News</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/elements">Elements</a></li>
                                            <li><a href="/login">Login</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                    <a>Hi {{ user.username }}</a>
                                     </div>
                                    <div class="login-register-btn mr-50">
                                    
                                        <a href="#" id="loginBtn">Logout</a>
                                    </div>
                                    <div >
                                       
                                    </div>


                                    <!-- Cart Button 
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div>-->
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- Data in DjangoDataBase -->
    {% block content %}
    <center>
      <div class="container ">
        <div class="row">
        {% for i in booked %}
          <div class="col-md-6">
              <br/><br/>
              
              <h3>{{ i.id }}. {{ i.name }}</h3>
              <p>ราคาเดิม :<s>
              {{ i.price }}</s> บาท<br>
              ลดราคาเหลือ :
              {{ i.saleP }}บาท
              </p>
          </div>
          <div class="col-md-6">
            <img src = {{ i.photo1 }} >
            
          </div>
        {% endfor %}
        </div>
      </div> 
      </center>
    {% endblock %}
  </body>
</html>