<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Notebook Spec</title>
    {% load static %}
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
    body {
      min-height: 500px;
      padding-top: 50px;  
      {% comment %} background: ; #00DCFF {% endcomment %}
    }
    </style>
  </head>
  <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
              <a class="navbar-brand" href="#">Spec Notebook</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                    {% comment %} <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li> {% endcomment %}
                </ul>
              </div>
            </nav>


    <div class="container">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'image/ben1.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'image/ben2.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'image/ben3.jpg' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>



      <!--navbar unser-->
      <div class="container">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">Spec For You </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                  </li>
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="ค้นหาชื่อ Notebook" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ค้นหา</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"></a>
                </li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    ค้นหาตามสเปค
                  </button>

                  <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">กำหนดสเปค</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1"> ยี่ห้อ</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" ">
                            <small id="emailHelp" class="form-text text-muted">เลือกยี่ห้อตามที่ต้องการ</small>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1"> ราคา</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1"> การ์ดจอ</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="">
                          </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1"> CPU</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleSelect1">ลักษณะการใช้งาน</label>
                            <select class="form-control form-control-sm" id="exampleSelect1">
                              <option>งานเอกสาร</option>
                              <option>ใช้งานทั่วไป</option>
                              <option>เกมมิ่ง</option>
                            </select>
                          </div>
                        </form>
                                {% comment %} <form >
                                      <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ยี่ห้อ</label>
                                        <div class="col-md-10">
                                          <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
                                        </div>
                                      </div>
                                      
                                       <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">CPU</label>
                                        <div class="col-md-10">
                                          <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
                                        </div>
                                      </div>

                                       <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">การ์ดจอ</label>
                                          <div class="col-md-10">
                                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
                                          </div>
                                      </div>

                                          <div class="col-auto my-10">
                                            <label class="col-md-10" for="inlineFormCustomSelect">การใช้งาน</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                              <option selected>เลือก...</option>
                                              <option value="1">ใช้งานทั่วไป</option>
                                              <option value="2">งานเอกสาร</option>
                                              <option value="3">เกมมิ่ง</option>
                                            </select>
                                          </div>
                                 </form> {% endcomment %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">OK</button>
                      </div>
                    </div>
                  </div>
                </div>

              </ul>
              </div>
            </nav>
          </div>


     
{% block content %}
 <div class="container">
  <div class="col-md-12">

    {% for i in specnaja %}
    <hr>
    <br><br>
       <h2>{{ i.name }}</h2>
       <h4>{{ i.price }}</h4>
       <p>
       {{ i.id }}
       {{ i.brand}}
       {{ i.series}}
       {{ i.CPU}}
       {{ i.GPU}}
       {{ i.display}}
       {{ i.OS}}
       </p>
   </div>

   <div class="col-md-12">
     <center><img src = {{ i.images }} ></center>
   </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
    <!-- <center>
    <video width="ml-auto" height="ml-auto" autoplay muted loop id="myVideo">
        <source src="static/video/videoplayback.mp4" type="video/mp4">
    </video>
    </center> -->
  </body>
</html>