{% extends 'appspec/base.html' %}
{% block content %}
 <div class="container">
  <div class="row">
    {% for i in specnaja %}
      <div class="col-md-6">
      <br/><br/>
       <h2>{{ i.name }}</h2>
       <h4>{{ i.price }}</h4>
       <p>
       {{ i.id }}
       {{ i.brand}}
       {{ i.series}}
       {{ i.CPU}}
       {{ i.GPU}}
       {{ i.display}}
       {{ i.OS}}
       </p>
   </div>
   <div class="col-md-6">
     <img src = {{ i.images }} >
   </div>
    {% endfor %}
  </div>
</div> 
{% endblock %}